<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Express Demo</title>
</head>
<body>
    <h1>
        Demo on Express
    </h1>
    <p> <%= person.name%></p>
    <p> <%= person.age%></p>
    <p> <%= person.company%></p>
 </body>
</html>